 /* Footer.css */

 .footer {
  background-color: #faf291;
  color: white;
  padding: 40px 0;
  font-family: 'Arial', sans-serif;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1200px;
}


.footer-left,
.footer-links,
.footer-social {
  flex: 1;
  margin-right: 20px;
}

.footer-left {
  max-width: 300px;
}

.footer-logo {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 15px;
  color: #73b8c7;
}

.footer-description {
  font-size: 16px;
  line-height: 1.6;
}

.footer-links {
  max-width: 250px;
}

.footer-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #c7adc1;
}

.footer-link {
  color: #39454e;
  text-decoration: none;
  font-size: 16px;
  display: block;
  margin-bottom: 10px;
  transition: color 0.3s ease;
}

.footer-link:hover {
  color: #ecf0f1;
}

.footer-social {
  max-width: 300px;
}

.footer-social-icons {
  display: flex;
  justify-content: flex-start;
}
/* Footer.css */
/* Footer.css */

/* Social Media Icons */
.footer-social-icons {
  display: flex;
  justify-content: flex-start;
  gap: 15px;
}

.social-icon {
  
  font-size: 24px; /* Size of the icons */
  color: #bdc3c7;
  transition: color 0.3s ease;
}

.social-icon:hover {
  color: #ecf0f1; /* Light color on hover */
}

